.footer{
    height:15rem;
    background-color: $color-secondary-dark;
    color:white;

  &__items{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top:4rem;
  }

  
  &__list{
    display:flex;
    justify-content: space-around;
    align-content: center;
  }
  &__item{
    list-style:none;
  }
  &__end{
    margin-right:3rem;
  }

}
.pfoot{
  text-align: center;
  font-size: 1rem;
}

 .flogo{
   height:7rem;
 }
 

