
.container {
    background-color:#fff;
    @media only screen and (max-width: $bp-largest){
        margin:0;
    }
}
.content{
    display:flex;
    min-height: calc(100vh - 70px);
    @media only screen and (max-width: $bp-medium){
        flex-direction: column;
    }
}
.product-cards {
    background-color: fff;
    flex: 1;
}




