.p_desc{
    width:50rem;
    height:61rem;
    margin:3rem;
    background-color: #fff;
    border: 0.2rem solid rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    @media only screen and (max-width: $bp-medium){
        margin:1rem;
        margin-bottom:3rem;
        margin-right:2rem;
        height:68rem;
    }
    &__desc{
        width:100%;
        background-color: rgba($color-secondary,0.2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-around;
        font-size:1.5rem;
        padding: 0.5rem 2rem;
        @media only screen and (max-width: $bp-medium){
            display:block;
            overflow-y: hidden;
            padding:0.5rem 5rem;
        }
    }
    &__p{
        font-size:1.5rem;
        color:$color-primary;
        margin: 1.5rem 0 0 20rem;
    }
    &__img{
         width:100%;
    }
    &__q{
        font-size:1.5rem;
    }
    &__r{
        font-size:1.5rem;
        color:$color-primary;
        margin: -2.5rem 0 0 34rem;
    }
    &__quantity{
        display:flex;
        align-content: center;
    }
    &__input{
        outline: none;
        text-align: center;
        width:4rem;
        height:3rem;
        border: 1px solid rgba(0,0,0,0.1);
        margin: 1rem 2rem;
    }
    &__total{
        font-weight:500;
        font-size:1.5rem;

    }
    &__btn{
        display:flex;
        font-size:1.8rem;
        flex-direction: row-reverse;
    }
    &__lbtn{
        margin: 2rem 0 2rem 2rem;
        height:3rem;
        width :10rem;
        text-decoration: none;
        text-align:center;
        background-color:#fff;
        border-radius: 6%;
        border: 1px solid rgba(0,0,0,0.1);
        color:$color-secondary-dark;
        box-shadow: 0 2rem 6rem rgba(0,0,0,0.1);
    }
    &__rbtn{
        margin: 2rem 3rem 2rem 2rem;
        height:3rem;
        width :10rem;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 6%;
        background-color: #FCBB04;
        text-decoration: none;
        text-align:center;
        color:#fff;
        box-shadow: 0 2rem 6rem rgba(0,0,0,0.2);
    }
}
.add_icon{
    height: 2.25rem;
    width: 2.25rem;
    fill:  $color-secondary-dark;
}
.p_desc_para{
    width:100rem;
    padding:3rem;
    text-align: justify;
    font-size:1.2rem;
    @media only screen and (max-width: $bp-medium){
        width:50rem;
        display:block;
        padding:2rem;
        //margin:2rem;
    }
}
.heading1{
    font-size: 2rem;
}

